* {
  margen : 0 ;
  acolchado :  0 ;
  familia de fuentes :  'Open Sans' , sans-serif;
}

. Contenedor {
 borde : negro sólido de 1 px ;
 ancho :  100 % ;
 ancho máximo :  1000 px ;
 margen : automático;
 tamaño de caja : caja de borde;
 desbordamiento : oculto;
}


. Cabecera {
  pantalla : flex;
  justificar-contenido : espacio-entre;
  posición : relativa;
  altura : 100 px
}

. Figura de Cabecera  {
 ancho :  130 px ;
 margen : automático;
}

. Cabecera  img {
 ancho : 130 px ;
 altura :  100 px ;
}

. cabecera_h1 {
 posición : absoluta;
 superior :  40 px ;
 izquierda : 150 px ;
}

. cabecera_frase {
 posición : absoluta;
 superior : 70 px ;
 izquierda : 235 ;
}

. nav {
margen :  10 px  10 px  0  0 ;
posición : desarmado;
fundamento : ninguno;
altura : auto;
ancho : desarmado;
borde : ninguno;  
}

. nav_link {
 fondo :  # 008899 ;
 color : blanco;
 relleno : 5 px ;
 radio del borde : 3 px ;
}

. nav_link_palote {
 fondo :  # 008899 ;
 color : blanco;
 relleno : 5 px ;
 radio del borde : 3 px ;
}

. nav_link_button {
 fondo :  # 008899 ;
 color : blanco;
 relleno : 5 px ;
 radio del borde : 3 px ;
}

/ ************************** /
. galeria {
  ancho :  100 % ;
  altura :  400 px ;
  fondo :  # 333 ;
  pantalla : flex;
  justificar-contenido : centro;
  alinear-elementos : centro;
}

. galeria_lienzo {
  ancho :  600 px ;
  altura :  350 px ;
  desbordamiento : oculto;
}

. galeria_contenedor {
 pantalla : flex;
 ancho :  7000 px ;
 altura :  50 px ;
 transición : transforme 1 s entrada rápida;
 will-change : transform;
}

. elemento1 : marcado  ~ . galeria_contenedor {
 transformar :  translateX ( 0 px );
}

. elemento2 : marcado  ~ . galeria_contenedor {
 transformar :  translateX ( -600 px );
}

. elemento3 : marcado  ~ . galeria_contenedor {
 transformar :  translateX ( -1200 px );
}


. controles {
 ancho :  100 % ;
 altura :  30 px ;
 pantalla : flex;
 justificar-contenido : centro;
 posición : relativa;
 superior :  -26 px ;
}


etiqueta {
 margen : 5 px ;
 ancho :  20 px ;
 altura :  20 px ;
 radio del borde :  100 px ;
 fondo : verde;
 pantalla : bloque;
 cursor : puntero;
}

  











